<script>
window.virtualGuide = {{ section.settings.virtualGuide }};
</script>

{% schema %}
  {
    "name": "Setup Instructions",
    "settings": [  {
        "type": "checkbox",
        "id": "virtualGuide",
        "label": "Show Virtual Guide",
        "default": true
      }

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}


if (window.location !== window.parent.location) {	  
  if(window.virtualGuide) {
    startGuide();
  }else{
   var guideWrapEl = document.querySelector('#guideWrap');
   guideWrapEl.remove();
  }
}

function startGuide() {

document.body.classList.add('virtualGuide'); 
  
  
var stringToHTML = function (str) {
		var parser = new DOMParser();
		var doc = parser.parseFromString(str, 'text/html');
		return doc.body.children[0];
}; 
  
  
  
  
  
 
var guideWrapEl = document.querySelector('#guideWrap');
var filters = '?modestbranding=1';  
if(!guideWrapEl) {  
   document.body.prepend(stringToHTML('<div id="guideWrap"><h2>Overview</h2><div class="flex-video youtube widescreen"><iframe width="560" height="315" src="https://www.youtube.com/embed/qJsRdVNCcn4'+ filters +'" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>'));
}  
  
 
}

{% endjavascript %}    
