<script type="template/html" id="Setup-Instructions">{{ section.settings.virtualGuide }}</script>

{% schema %}
  {
    "name": "Setup Instructions",
    "settings": [  {
        "type": "checkbox",
        "id": "virtualGuide",
        "label": "Show Virtual Guide",
        "default": true
      },
           {
        "type": "paragraph",
"content": "When this guide is completed, get more advanced tips and complete setup [Click Here](https://digitalbrandz.marketing/pages/tutorials)"
      }

]
  }
{% endschema %}

{% stylesheet 'scss' %}


// responsive sizes
@mixin bp($point) {
  
  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1280px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
  }  
  @else if $point == laptop {
    @media #{$bp-laptop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == tabletup {
    @media #{$bp-tabletup} { @content; }
  }
  @else if $point == phablet {
    @media #{$bp-phablet} { @content; }
  }
  @else if $point == phabletup {
    @media #{$bp-phabletup} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  }
  @else if $point == mobileup {
    @media #{$bp-mobileup} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }

}


/* virtualGuide  ----------------------------------------------------------------------------------------------------------------------------*/

.virtualGuide {
    justify-content: space-around;
  #guideWrap {
     width: 56%;
     order: 2;
    @include bp(tablet) {
      width: 50%;
    }
    h2 {
      @include bp(tablet) {
          font-size: 1.5rem;
      }
    }
    .more {
      text-align:center;
    h3 {
        font-size: 15px;
      @include bp(tablet) {
        font-size: 13px;
        }
    }
    a {
    background: #0062b5;
    color: #fff;
    border-radius: 30px;
    padding: 15px 24px;
    font-size: 16px;
    display: inline-block;
    margin-top:10px;
      @include bp(tablet) {
        font-size: 12px;
        }
     }
    }
  }
  > .footer {
      display: none;
  }
}

{% endstylesheet %}

{% javascript %}



$(document).on("shopify:section:select", function(e){

var type = 'Setup-Instructions';
var EditClass = 'editSetup';


var dataset = e.target.dataset;
var dataset = JSON.parse(dataset[Object.keys(dataset)[0]]);
var sectionType = dataset['type'];
var sectionId = dataset['id'];
var eventSectionId = e.target.id.replace('shopify-section-','');
if(sectionType == type && sectionId == eventSectionId) {







var body =  document.getElementsByTagName("body")[0];
body.classList.add('editing', EditClass);
$(document).one("shopify:section:deselect",function(e){
body.classList.remove(EditClass);
})

$(document).one("shopify:section:load",function(e){
if (window.location !== window.parent.location) {	 
  var virtualGuide = document.querySelector("#Setup-Instructions");
  if(virtualGuide.innerHTML == 'true') {
    console.log('start guide');
    startGuide();
  }else{
   console.log('remove guide');
   var guideWrapEl = document.querySelector('#guideWrap');
   guideWrapEl.remove();
  }
}
})


}




});   

if (window.location !== window.parent.location) {	  
  var virtualGuide = document.querySelector("#Setup-Instructions");
  if(virtualGuide.innerHTML == 'true') {
    console.log('start guide');
    startGuide();
  }else{
   console.log('remove guide');
   var guideWrapEl = document.querySelector('#guideWrap');
   guideWrapEl.remove();
  }
}

function startGuide() {

document.body.classList.add('virtualGuide'); 
  
  
var stringToHTML = function (str) {
		var parser = new DOMParser();
		var doc = parser.parseFromString(str, 'text/html');
		return doc.body.children[0];
}; 
  
 
var guideWrapEl = document.querySelector('#guideWrap');
var filters = '?modestbranding=1&VQ=HD1080';  
if(!guideWrapEl) {  
document.body.prepend(stringToHTML('<div id="guideWrap"><h2>Overview</h2><div class="flex-video youtube widescreen"><iframe width="1920" height="1080" src="https://www.youtube.com/embed/qJsRdVNCcn4'+ filters +'" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div><div class="more"><h3>When you finish watching click the link below</h3><a href="https://digitalbrandz.marketing/pages/tutorials">More Advanced Tips</a></div></div>'));
}  
  
 
}

{% endjavascript %}              
